# region-start - Electron-Builder 需要的配置。详情请阅：https://www.electron.build/#note-for-pnpm
node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true
# region-end

strict-peer-dependencies=false
public-hoist-pattern[]=history
public-hoist-pattern[]=immer
public-hoist-pattern[]=@formatjs/*